*
  border: 0
  margin: 0
  padding: 0
  
body
  font: 24px 'Helvetica Neue'
  color: white
  absolute: left right bottom top
  overflow: hidden
  
a
  text-decoration: none
  
button
  outline: none
  cursor: pointer
  
.loading-beach
  width: 100%
  text-align: center
  absolute: top 48% left 