*
  border: 0
  margin: 0
  padding: 0
  box-sizing: border-box
  
body
  // font: 24px 'Helvetica Neue'
  font: 24px 'Roboto', 'Helvetica Neue'
  color: white
  absolute: left right bottom top
  overflow: hidden
  user-select: none
  
a
  text-decoration: none
  
button
  outline: none
  cursor: pointer
  
._absolute
  absolute: top left right bottom

._fixed
  fixed: top left right bottom
  
._overflow-y
  overflow-y: auto
  overflow-x: hidden
  
._ellipsis
  overflow: ellipsis
  
.loading-beach
  width: 100%
  text-align: center
  absolute: top 48% left 
  
ul li 
  list-style: none
  
.translateX
  &-transition
    transition: all .5s;
    opacity: 1
    transform: translateX(0px);
  &-enter
    transition-delay: .5s
    transform: translateX(100%);
    opacity: 0
  &-leave
    opacity: 0;
    transform: translateX(0) scale(.7);


.fade-transition
  transition: all .5s;
  opacity: 1
  transform: translateY(0px)
.fade
  &-enter, &-leave
    transform: translateY(-100px)
    opacity: 0